@import "../../styles/varibals";

#footer{
    height: 15vh;
    background-color:$evenBackround;
    color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    i{
        color: white
    }
    // position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100vw;
}

#linkedin{
    &:hover{
        background-color: rgb(2, 56, 206)
    }
}

#github{
    
    &:hover{
        background-color: rgb(228, 131, 5)
    }
}


@import "../../styles/medie";