.text-big{
    padding: 5px 0;
    font-size: 35px;

}

.text-medium{
    padding: 15px  0;
    font-size: 25px;

}

.text-small{
    padding: 5px 0;
    font-size: 17px;

}


.modrate-box{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
}