
//medium size = 20px
//small size = 14px

@media(max-width:700px){


    .text-medium{
        font-size: 20px;
    }

    .text-small{
        font-size: 14px;
    }
// https://wallpaperaccess.com/full/845000.jpg
    .navbar{
        display: block;
        text-align: center;
        

        .navbar-list{
            
            justify-content: space-around;
            align-items: center;
            li{
                // margin-bottom: 5px;
                a{
                    padding:  5px;
                    font-size: 20px;
                    font-weight: 500;  
                }
            }
            
        }
    .text-big{
        font-size: 40px;
        // padding-top: 20px;
    }
    .text-medium{
        font-size: 20px;
    }

    }
    .homepage{

        height: 50vh;

        .headline{
            
            position: relative;
            top: 60px;

            h2{
                margin-bottom: 20px;
                font-size: 30px;
            }
            
        }



        .headline{
            i{
                padding: 6px;
                display: block;
            }
        }
    }
    
    .grid{
        grid-template-columns: repeat(1,1fr);
        padding: 20px 0;
    }
    .uneven-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    
    }
    .image{
       max-width: 50%;
       max-height: 50%;
    }
    .text-medium{
        font-size: 16px;
    }


    #footer{
        display: block;
        padding: 20px 0;
        height: 10vh;
    }
   
}

