.text-big {
  padding: 15px 0;
  font-size: 35px;
  color: white;
}

.text-medium {
  padding: 10px  0;
  font-size: 25px;
  color: white;
}

.text-small {
  padding: 0px 0;
  font-size: 17px;
  color: white;
}

.modrate-box {
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
}

.navbar {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 10vh;
  position: absolute;
  color: white;
}

.navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-list li {
  list-style: none;
  position: relative;
  z-index: 1;
}

.navbar .navbar-list li::after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #c1c5fd;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.navbar .navbar-list li::before {
  content: '';
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c1c5fd;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.navbar .navbar-list li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .navbar-list li:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .navbar-list li a {
  list-style: none;
  color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
}

#logo-higelight {
  color: #f66f00;
}

@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar .navbar-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbar-list li {
    margin-top: 15px;
  }
  .navbar .navbar-list li a {
    padding: 5px;
  }
  .navbar .text-big {
    font-size: 40px;
  }
  .navbar .text-medium {
    font-size: 20px;
  }
  .homepage h1 {
    display: none;
  }
  .homepage h2 {
    margin-bottom: 20px;
  }
  .homepage .headline i {
    padding: 6px;
    display: block;
  }
  .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }
  .uneven-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .image {
    max-width: 50%;
    max-height: 50%;
  }
  .text-medium {
    font-size: 16px;
  }
}

.grid {
  grid-gap: 1rem;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px 10px;
}

.grid2 {
  grid-gap: 1rem;
  display: -ms-grid;
  display: grid;
  min-height: 20vh;
  text-align: center;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uneven-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 10%;
}
/*# sourceMappingURL=Navbar.css.map */