

@import url('../../utils//varibals');

.navbar{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 30px 20px;
        width: 90vw;
        position: absolute;
        color: white;
        // background-color: green;       
        .navbar-list{
            display: flex;
            list-style: none;
            a{
               color: white;
               margin-right: 20px;         
            }
        }
}