


@import "../../styles/varibals";

.navbar{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        // padding: 10px 20px;
        width: 90vw;
        height: 10vh;
        // position: absolute;
        color: white;
        // background-color: green;       
        .navbar-list{
            display: flex;
            li{
               list-style: none;
                position: relative;
                z-index: 1;
               &::after{
                content:'';
                position: absolute;
                top: -2px;
                bottom: 0;
                left: 0;
                right: 0;
                height: 4px;
                background-color: $mainColor;
                transform: scaleX(0);
                transform-origin: left;
                transition: 200ms ease-in;

            }


            &::before{
                content:'';
                position: absolute;
                top: 35px;
                bottom:0;
                left: 0;
                right: 0;
                height: 3px;
                background-color: $mainColor;
                transform: scaleX(0);
                transform-origin: right;
                transition: 200ms ease-in;
            }

            &:hover{
    
                &::after{
                    transform: scaleX(1);
                }
               
                &::before{
                    transform: scaleX(1);
                }

            }

            a{
                list-style: none;
                color: white;
                padding: 20px;
                position: relative;
                z-index: 1;
            
            }

            }
        }
}


#logo-higelight{
    // color: rgb(78, 169, 243);
    color: rgb(246, 111, 0);
}

@import '../../styles/classes';
@import '../../styles/varibals';
@import "../../styles/medie";