


.homepage{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    h1{
        font-size: 90px;
    }
    h2{
        font-size: 40px;
    }

    .headline{
        margin-bottom: 20px;
    }
}

@import "../../styles/medie";