
.homepage{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    h1{
        font-size: 75px;
    }
    h2{
        font-size: 50px;
    }

    .headline{
        margin-bottom: 40px;
    }
}