
@import "./Components/styles/medie";

*{
    padding: 0;
    margin: 0;
}


body{
    // box-sizing: border-box;
    // background-image:url('/images/bg.jpg');
    // height: 100vh;
    // background-color: blue;

}


a{
    text-decoration: none;
}

p{
    line-height: 1.7;
}


.section{
    height: 40vh;
}

.uneven{
    background-image: linear-gradient(#8E2DE2,#4A00E0);
}

.main{
    background-image:url('./Components/Images/bg.jpg');
    height: 100vh;
    background-size: 100% 100%;
    background-position:center;
}
