
@import "./Components/styles/medie";

*{
    padding: 0;
    margin: 0;
}


body{
    // box-sizing: border-box;
    // background-image:url('/images/bg.jpg');
    // height: 100vh;
    // background-color: blue;

}


a{
    text-decoration: none;
}

.main{
    background-image:url('./Components/Images/bg.jpg');
    height: 100vh;
    background-size: 100% 100%;
    background-position:center;
}
